* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family:  */
}

body{
    background-image: url(https://static.wixstatic.com/media/830f94_65223287acdb460e830275f0049f2686~mv2.jpg/v1/fill/w_2388,h_1594,al_c,q_90/830f94_65223287acdb460e830275f0049f2686~mv2.webp);
    background-size: 200%;
    background-position: center;
}

.main {
    position: absolute;
     width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #0011a8; */
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    padding: 50px 100px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: #000000;
    font-family:"Arial", sans-serif;
}

  
.logo {
    position: relative;
    max-width: 80px;
}

header img {
    width: 200px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #0011a8;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: blink;
    font-family:"Arial", sans-serif;
}


.cursos-section {
    display: flex;
    justify-content:  space-between;
    align-items: baseline;
     margin-top: 50px;
}

.cursos {
    max-width: 600px;
    margin: 30px;
    padding: 20px;
    background-color: #0a0a0a;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.cursos img {
    width: 200px;
    height: 200px;
    border-radius: 60%;
    margin-bottom: 20px;
}

.cursos h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.cursos p {
    font-size: 16px;
    color: #888888;
}



footer {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
    margin: 5px;
  }
  
  .social-icons a {
    display: inline-block;
  }